header {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 50px;
    background: lightblue;
}
h1 {
    color: brown;
}

label {
    padding-top: 20px;
    display: block;
    width: 400px;
}

.modifPost {
    color: red;
}
input[type="text"], textarea {
    width: 300px;
}
/*
textarea.input {
    width:500px;
}
*/
.postAuthor {
    color: blue;
    font-style: italic;
}

.postContent {
    padding: 20px;
    width: 400px;
    border: 2px solid blue;
}

.postFooter {
    font-style: italic;
}

.footer {
    border-top: brown 1px solid;
    color: brown;
    font-style: italic;
}