header {
    display: block;
    text-align: center;
    /*justify-content: center;*/
    /*align-items: center;*/
    padding: 20px;
    /*gap: 50px;*/
    background: lightblue;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 50px;
}

footer {
    text-align: center;
    border-top: brown 1px solid;
    color: brown;
    font-style: italic;
}

h1 {
    color: brown;
}

label {
    padding-top: 20px;
    display: block;
    width: 400px;
}

.modifPost {
    color: red;
}
input[type="text"], textarea {
    width: 300px;
}
/*
textarea.input {
    width:500px;
}
*/
.postAuthor {
    color: blue;
    font-style: italic;
    margin-left: 20px;
}

.postContent {
    margin-left: 20px;
    padding: 20px;
    width: 400px;
    /*border: 2px solid blue;*/
    background: lightgray;
}

.postFooter {
    margin-left: 20px;
    font-style: italic;
}

