h1 {
    color: brown;
}

label {
    padding-top: 20px;
    display: block;
    width: 400px;
}

.modifPost {
    color: red;
}
input[type="text"], textarea {
    width: 300px;
}
/*
textarea.input {
    width:500px;
}
*/
.postAuthor {
    color: blue;
    font-style: italic;
}

.postContent {
    padding-left: 5px;
    width: 200px;
    border-left: 2px solid blue;
}

.postFooter {
    font-style: italic;
}

.footer {
    border-top: brown 1px solid;
    color: brown;
    font-style: italic;
}